body {
    padding-top: 56px;
    background-color: rgb(245, 245, 245);
}

input {
    margin: 5px 0;
}

button {
    min-width: 60px;
}

form {
    padding: 20px;
}

h3 {
    margin-top: 20px;
}

.table-user th, .table-user td, .table-user label {
    vertical-align: baseline;
}

.list tr:hover {
    cursor: pointer;
}

.error .table {
    margin-bottom: 0;
}
