<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title,links)">
    <title th:replace="${title}">Some page</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet" th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <th:block th:replace="${links}"/>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            th:src="@{//code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<header th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" th:href="@{/}">WebApp</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/user/all}">Users</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:unless="${#request.remoteUser}"><a class="nav-link"
                                                                           th:href="@{/auth/sign-up}">Sign-up</a></li>
                <li class="nav-item" th:unless="${#request.remoteUser}"><a class="nav-link"
                                                                           th:href="@{/auth/sign-in}">Sign-in</a></li>
                <li class="nav-item" th:if="${#request.remoteUser}"><a class="nav-link"
                                                                       th:href="@{/user/name/{username}(username=${#request.remoteUser})}"
                                                                       th:text="${#strings.capitalize(#request.remoteUser)}"></a>
                </li>
                <li class="nav-item" th:if="${#request.remoteUser}"><a class="nav-link" th:href="@{/auth/sign-out}">Sign-out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container text-center" th:fragment="alerts">
    <!--/*@thymesVar id="message" type="String"*/-->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
        <strong class="alert-heading">Done!</strong>&nbsp;<span th:text="${message}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert"
         th:if="${session != null} and ${session.message != null} and not ${param.error}">
        <strong class="alert-heading">Done!</strong>&nbsp;<span th:text="${session.message}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p th:if="${#session.removeAttribute('message')}">x</p>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
         th:if="${session != null} and ${session.message != null} and ${param.error}">
        <strong class="alert-heading">Error!</strong>&nbsp;<span th:text="${session.message}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p th:if="${#session.removeAttribute('message')}">x</p>
    </div>
    <!--/*@thymesVar id="error" type="String"*/-->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
        <strong class="alert-heading">Error!</strong>&nbsp;<span th:text="${error}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"
         th:if="${session != null} and ${session.error != null}">
        <strong class="alert-heading">Error!</strong>&nbsp;<span th:text="${session.error}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p th:if="${#session.removeAttribute('error')}">x</p>
    </div>
</div>

</html>
